@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:red;
}